<html lang="en">
<head>
    <title>CrowdSourcing</title>
    <link rel="shortcut icon" type="image/x-ico" href="/static/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/static/css/globals.css">
    <link type="text/css" rel="stylesheet" href="/static/css/d3.css">
    <!--<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <!--<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.css">-->
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ranking.css">
    <link type="text/css" rel="stylesheet" href="/static/css/worker.css">
    <link type="text/css" rel="stylesheet" href="/static/css/detail.css">
    <link type="text/css" rel="stylesheet" href="/static/css/instance.css">
    <link type="text/css" rel="stylesheet" href="/static/css/matrix.css">
    <link type="text/css" rel="stylesheet" href="/static/css/loading-icon.css">
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.css">
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.joyride.css">
    <!--<link type="text/css" rel="stylesheet" href="/static/css/ghpages-materialize.css">-->
    <meta charset="UTF-8">
</head>
<body>

<ol data-joyride="66klxp-joyride" data-autostart="true" id="docs-joyride">
    <li data-target="#guide-1">
        <h3>First</h3>
        <p>Click this cell to select two classes</p>
    </li>
    <li data-target="#guide-2">
        <h3>Second</h3>
        <p>Click here and show other views</p>
    </li>
    <li data-target="#guide-3">
        <h3>Third</h3>
        <p>Click here and show other views</p>
    </li>
    <li data-target="#guide-4">
        <h3>Fourth</h3>
        <p>Click here and show other views</p>
        <p class="text-center">
        <button class="button success" data-joyride-close="">OK, thanks!</button>
        </p>
    </li>
</ol>

{% block nav %}{% endblock %}
{% block instances %}{% endblock %}
{% block rankings %}{% endblock %}

</body>
<script src="/static/js/lib/d3.js"></script>
<script src="/static/js/lib/request_dag.js"></script>
<script src="/static/js/lib/jquery-2.1.3.min.js"></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js></script>
<script src="/static/js/lib/lasso.js"></script>
<script src="/static/js/lib/BootstrapMenu.js"></script>
<script src="/static/js/lib/svgToPdf.js"></script>
<script src="/static/js/lib/pdfkit.js"></script>
<script src="/static/js/lib/blobstream.js"></script>
<script src="/static/js/lib/what-input.js"></script>
<script src="/static/js/lib/foundation.js"></script>
<script src="/static/js/lib/foundation.joyride.js"></script>
<!--<script type="text/javascript">-->
      <!--// initialize Foundation-->
      <!--$(document).foundation();-->
    <!--</script>-->

<script src="/static/js/main.js"></script>
<script src="/static/js/globals.js"></script>
<script src="/static/js/handler.js"></script>
<script src="/static/js/dynamic_communication.js"></script>
<script src="/static/js/similarity-graph.js"></script>
<script src="/static/js/helper.js"></script>
<script src="/static/js/instance_view.js"></script>
<script src="/static/js/rankingsHelper.js"></script>
<script src="/static/js/rankings.js"></script>
<script src="/static/js/helper_fangxin.js"></script>
<script src="/static/js/worker.js"></script>
<script src="/static/js/detailview.js"></script>
<script src="/static/js/debug.js"></script>
<script src="/static/js/interaction.js"></script>
<script src="/static/js/glyph.js"></script>
<script src="/static/js/backend.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/menu.js"></script>
<script src="/static/js/workerDialog.js"></script>
<script src="/static/js/TrailView.js"></script>
<script src="/static/js/case.js"></script>


<!--<script src="js/bootstrap.min.js"></script>-->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>