{% block instances %}
<div class="self-column" id="self-column-1">

    <div class="block-container" id="block-1-1">
        <div class="my-panel" @*style="display: none" *@>
            <div>
                <div id="preloader" class="preloader-wrapper small active" style="display: block;">
                    <div class="spinner-layer spinner-gray-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <span class="my-panel-heading"> Confusion </span>
                <!--<span class="save-button header-button" onclick="saveSVG('instance-svg')">Save</span>-->
                <!--<span class="validation-button header-button" onclick="validation_update()" style="display: none;">Validation</span>-->
            </div>
            <hr class="my-panel-seg"/>
        </div>
        <div class="guide" id="guide-1">
        </div>
        <div class="guide" id="guide-2">
        </div>
        <div class="guide" id="guide-3">
        </div>
    </div>
    <!--<span class="select-button header-button" onclick="matrix_selected()">Show Instance</span>-->
    <!--<span class="propagation-button header-button" onclick="propagation_update()" style="display: none;">Propagation</span>-->
    <div id="hidden-div" style="display: none"></div>

    <div class="modal fade img-validated" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="filter_update()">Update</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}